<div>
  <img
    src="assets/img/logo.png"
    style="
      width: 120px;
      margin: 20px 0 0 20px;
      background: white;
      border-radius: 50%;
      padding: 20px;
      box-shadow: 0 1px 6px rgb(60 64 67 / 28%);
      border: 1px solid #595959;
      float: left;
    "
  /><img />
  <div
    style="
      background: white;
      border-radius: 20px;
      margin: 55px 0 0 60px;
      padding: 10px 15px;
      font-weight: 600;
      border: 1px solid #595959;
      text-align: center;
      line-height: 30px;
      float: left;
    "
  >
    Friday 10/2/21 <br />
    9:00 PM
  </div>
</div>
<div style="clear: both">
  Table is unavailable
  <button
    type="button"
    style="
      border: none;
      color: whitesmoke;
      width: 100%;
      margin: 0 auto;
      padding: 10px 0 15px;
      font-size: 24px;
      border-radius: 5px;
      font-family: inherit;
      cursor: pointer;
    "
  >
    Réservé
  </button>
</div>
